$primary-color: #0a9396;
$transparent-primary-color: rgba(10, 148, 150, 0.6);
$secondary-color: #ca6702;
$primary-text: #e9d8a6;
$background-color: #010407;
$important-color: #ae2012;
$gradient-start: #f7bc3f;
$gradient-end: #ec6b01;
